.Wallpage {
    position: relative;
    width: 100%;
    height: auto;
    background: var(--grayish);
    margin-bottom: 10px;
}

.Wallpage_BG {
    position: relative;
    width: 100%;
    height: auto;
}

.Wallpage_Content_Port {
    top: 0px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    width: 92%;
    max-width: 1200px;
    height: 100%;
}

.Wallpage_Content {
    top: 0px;
    width: 100%;
    position: relative;
    height: auto;
    display: flex;
    // animation: fade 5s linear;
}

.Wallpage_Left_Content {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: white;
    height: 100%;
    width: 28%;
    box-shadow: 0px 5px 5px var(--gray);
}

.Wallpage_Image {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Highlight_Transitionbar {
    margin-top: 10px;
    position: relative;
    background: white;
    width: 25%;
    left: 5px;
    display: flex;
    margin-left: 28%;
}

.Highlight_Title {
    margin-top: 5px;
    position: relative;
    font-family: "BarlowSemiCondensed-BoldItalic";
    font-size: 20px;
    // padding-left: 10px;
    padding-right: 5px;
    text-align: center;
    color: var(--blue);
    min-width: fit-content;
    line-height: 17px;
}

.Highlight_Title_Underline {
    align-self: end;
    height: 3px;
    position: relative;
    background: var(--blue);
    width: 100%;
}

.Highlight_Transitionbar_Item {
    height: 5px;
    width: 10px;
    background: var(--blue);
}


.Wallpage_Right_Content {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 5px;
    background: white;
    height: auto;
    width: 72%;
    padding: 5px;
    box-shadow: 0px 0px 10px var(--gray);
}


//For reaction bar


.highlight-item-container {
    position: relative;
    width: 100%;
    // height: 100%;
    margin: auto;
    padding: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    border: 1px var(--gray) solid;
    max-width: 1000px;
    user-select: none;
    border-bottom: 1px var(--gray) solid;
    background: white;
}

@keyframes fade {

    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1
    }
}