$unhover_color: rgba(0, 0, 0, 0.54);
$hover_color: rgba(0, 0, 0, 1);

#footer .info-view,
.info-downcount {
    font-size: 14px;
    color: $unhover_color;
}

#icon-view,
#icon-downcount {
    color: $unhover_color;
}
