.Paginator {
    user-select: none;
    display: flex;
    background: white;
    
    
}

.Deactivated_Page {
    background: white;
    width: 26px;
    height: 26px;
    border: 1px var(--blue) solid;
    border-radius: 4px;
    color: var(--blue);
    line-height: 22px;
    text-align: center;
    margin-right: 4px;
    font-family: "BarlowCondensed-Medium";
    font-size: 20px;
}

.Deactivated_Page:hover {
    background: var(--blue);
    opacity: 60%;
    color: white;
    box-shadow: 0px 0px 1px 1px white;
    cursor: pointer;
}

.Deactivated_Page:active {
    border: 1px white solid;
    background: var(--blue);
    opacity: 100%;
}

.Activated_Page {
    background: var(--blue);
    width: 26px;
    height: 26px;
    border: 1px var(--blue) solid;
    border-radius: 4px;
    color: white;
    line-height: 22px;
    text-align: center;
    margin-right: 4px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 20;
    font-weight: 700;
}

.Activated_Page:hover {
    background: var(--blue);
    opacity: 60%;
    color: white;
    box-shadow: 0px 0px 1px 1px white;
    cursor: pointer;
}

.Activated_Page:active {
    background: var(--blue);
    opacity: 60%;
    color: white;
    box-shadow: 0px 0px 1px 1px white;
    cursor: pointer;
    border: 1px white solid;
}

.first-page,
.next-page,
.prev-page {
    margin-right: 4px;
    width: 40px;
    height: 26px;
    border: 1px var(--blue) solid;
    border-radius: 4px;
    background: white;
    border: 1px var(--blue) solid;
    color: var(--blue);
    line-height: 22px;
    text-align: center;
    margin-right: 4px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 20;
    font-weight: 700;
}

.last-page {
    width: 40px;
    height: 26px;
    border: 1px var(--blue) solid;
    border-radius: 4px;
    background: white;
    border: 1px var(--blue) solid;
    color: var(--blue);
    line-height: 22px;
    text-align: center;
    margin-right: 4px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 20;
    font-weight: 700;
}

.first-page:hover,
.next-page:hover,
.prev-page:hover,
.last-page:hover {
    background: var(--blue);
    opacity: 60%;
    color: white;
    box-shadow: 0px 0px 1px 1px white;
    cursor: pointer;
}

.first-page:active,
.next-page:active,
.prev-page:active,
.last-page:active {
    background: var(--blue);
    color: white;
    box-shadow: 0px 0px 1px 1px white;
    cursor: pointer;
    border: 1px white solid;
    opacity: 100%;
}

.first-page:disabled,
.next-page:disabled,
.prev-page:disabled,
.last-page:disabled {
    background: #c4c4c4;
    color: white;
    box-shadow: 0px 0px 1px 1px white;
    cursor: pointer;
    border: 1px white solid;
    opacity: 100%;
}