@media (min-width: 0px) {
    .container div div div canvas {
        // width: 100%;
        max-width: 100%;
    }

    .container div div {
        height: fit-content;
    }

    .DocPost_Detail {
        width: 96%;
    }

    .Document_Live_Preview {
        // height: fit-content;
        min-height: 360px;
        // background: green;
    }

    .Document_Live_Preview .container {
        height: fit-content;
    }
}

@media (min-width: 900px) {
    .container div div div canvas {
        // width: 100%;
        max-width: 792px;
    }

    .container div div {
        height: 840px;
    }

    .DocPost_Detail {
        width: 60%;
    }

    .Document_Live_Preview {
        height: 660px;
    }
}
