/* Menu bar */
.title-bar {
    display: flex;
    border-bottom: 5px var(--blue) solid;
    width: 100%;
    user-select: none;
}

.title-bar .Horizontal_Menu_Item {
    width: fit-content;
    padding-right: 20px;
    padding-left: 20px;
    font-family: "BarlowCondensed-Medium";
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #363636;
    user-select: none;
}

.title-bar .First_Horizontal_Menu_Item {
    user-select: none;
    width: fit-content;
    padding-right: 20px;
    font-family: "BarlowCondensed-Medium";
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #363636;
}

.title-bar .First_Horizontal_Menu_Item:hover {
    color: white;
    background: var(--blue);
    padding-left: 20px;
    cursor: pointer;
}

.title-bar .Horizontal_Menu_Item:hover {
    color: white;
    background: var(--blue);
    cursor: pointer;
}

.title-bar .Horizontal_Menu_Item:active {
    background: #c4c4c4;
    cursor: pointer;
}

.Main_Title {
    font-family: Cambria;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 35px;
    width: 100%;
    text-align: center;
    color: var(--blue);
}