.white-button {
    box-sizing: border-box;
    width: fit-content;
    height: 25px;
    vertical-align: auto;
    text-align: center;
    border-radius: 5px;
    background: white;
    font-family: "BarlowCondensed-SemiBold";
    font-size: 18px;
    line-height: 22px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--black);
    border: var(--gray) 1px solid;
    user-select: none;
    min-width: 80px;
}

.white-button:hover {
    cursor: pointer;
    opacity: 80%;
}

.white-button:active {
    background: var(--gray);
    cursor: pointer;
    opacity: 90%;
}

.white-button:disabled {
    background: var(--gray);
    color: white;
    cursor: pointer;
    opacity: 90%;
}

.red-button {
    box-sizing: border-box;
    width: fit-content;
    height: 24px;
    vertical-align: auto;
    text-align: center;
    border-radius: 5px;
    background: var(--red);
    font-family: "BarlowCondensed-Medium";
    font-size: 18px;
    line-height: 22px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    border: #ffffff;
    user-select: none;
    min-width: 80px;
}

.red-button:hover {
    cursor: pointer;
    opacity: 90%;
}

.red-button:active {
    background: var(--gray);
    cursor: pointer;
    opacity: 90%;
}

.red-button:disabled {
    background: var(--gray);
    cursor: pointer;
    opacity: 90%;
}

.blue-button {
    box-sizing: border-box;
    width: fit-content;
    height: 24px;
    vertical-align: auto;
    text-align: center;
    border-radius: 5px;
    background: var(--blue);
    font-family: "BarlowCondensed-Medium";
    font-size: 18px;
    line-height: 22px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    border: #ffffff;
    user-select: none;
    min-width: 80px;
}

.blue-button:hover {
    cursor: pointer;
    opacity: 90%;
}

.blue-button:active {
    background: var(--gray);
    cursor: pointer;
}

.blue-button:disabled {
    background: var(--gray);
    cursor: pointer;
}

.Is_Form_Button {
    margin: auto;
    margin-top: 1.2rem;
}

button:focus {
    outline: none !important;
}