.gray-label {
    margin-top: 10px;
    width: fit-content;
    // background: green;
    height: fit-content;
    min-width: 80px;
    // text-align: right;
    vertical-align: middle;
    font-size: 1.1rem;
    line-height: 20px;
    padding-top: 3px;
    font-family: "BarlowCondensed-Medium";
    font-size: 1.1rem;
    line-height: 100%;
    color: #363636;
    user-select: none;
    margin-bottom: 5px;
    // margin-top: 2px;
    padding-right: 5px;
}


.blue-label {
    width: 100%;
    height: fit-content;
    vertical-align: auto;
    text-align: left;
    font-family: "BarlowCondensed-Medium";
    font-size: 1.1rem;
    line-height: 100%;
    color: #5279db;
    user-select: none;
    min-width: 80px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 2px;
}

.error-label {
    margin-top: 0.2rem;
    padding-left: 0.5rem;
    position: absolute;
    height: fit-content;
    vertical-align: auto;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 0.7rem;
    text-align: right;
    line-height: 100%;
    color: var(--red);
    user-select: none;
    min-width: 80px;
    width: 100%;
}

.filter-label {
    margin-top: 2px;
    width: fit-content;
    height: fit-content;
    min-width: 80px;
    vertical-align: middle;
    font-size: 1.1rem;
    line-height: 20px;
    padding-top: 3px;
    font-family: "BarlowCondensed-Medium";
    font-size: 1.1rem;
    line-height: 100%;
    color: #363636;
    user-select: none;
    margin-bottom: 5px;
}

.Is_Form_Label {
    margin-top: 1.0rem;
}