.footer {

  max-width: 100%;
  min-height: 120px;
  margin: 0;
  padding: 0;
  background: white;
  display: flex;
  position: relative;
  text-align: center;
  height: auto;
}

.footer span {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: white;
  width: 50px;
  height: 50px;
  margin: 0 30px;
  margin-top: 30px;
  font-size: 35px;
  background: #5279db;
  animation: animate1 2.6s infinite linear;
}
.carousel span:nth-child(1) {
  animation-delay: 0.2s;
}
.carousel span:nth-child(2) {
  animation-delay: 0.4s;
}
.carousel span:nth-child(3) {
  animation-delay: 0.6s;
}
.carousel span:nth-child(4) {
  animation-delay: 0.8s;
}
.carousel span:nth-child(5) {
  animation-delay: 1s;
}
.carousel span:nth-child(6) {
  animation-delay: 1.2s;
}
.carousel span:nth-child(7) {
  animation-delay: 1.4s;
}
.carousel span:nth-child(8) {
  animation-delay: 1.6s;
}
.carousel span:nth-child(9) {
  animation-delay: 1.8s;
}
.carousel span:nth-child(10) {
  animation-delay: 2s;
}
.carousel span:nth-child(11) {
  animation-delay: 2.2s;
}
.carousel span:nth-child(12) {
  animation-delay: 2.4s;
}
.carousel span:nth-child(13) {
  animation-delay: 2.6s;
}

@keyframes animate1 {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateX(-50px) scale(1);
  }
  50% {
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transform: translateX(0px) scale(1.1);
  }
  100% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateX(50px) scale(1);
  }
}

@media (max-width: 767px) {
    .carousel {
        display: none;
    }
}