.combo-box {
    background: white;
    user-select: none;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    color: white;
    box-shadow: 0px 1px 0px 0px #eeeeee;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px;
}

.combo-box-option {
    box-sizing: border-box;
    font-family: "BarlowCondensed-Medium";
    font-size: 18px;
    color: #363636;
    padding-left: 4px;
    user-select: none;
    border-right: 4px white solid;
    border-radius: 5px;
}

.activated-combo-box-option {
    box-sizing: border-box;
    font-family: "BarlowCondensed-Medium";
    font-size: 18px;
    color: #363636;
    padding-left: 4px;
    user-select: none;
    border-right: 4px white solid;
    border-radius: 5px;
    background: #dedede !important;
    cursor: pointer;
    border-right: 3px #5279db solid;
}

.combo-box-container {
    margin-top: 5px;
    border: 1px #eeeeee solid;
    border-bottom: 3px #5279db solid;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px #eeeeee;
    display: none;
    user-select: none;
    padding: 5px;
    width: 100%;
    background: white;
}

.combo-box:hover,
.combo-box-option:hover {
    background: #eeeeee !important;
    cursor: pointer;
    border-right: 3px #5279db solid;
}

.combo-box:active,
.combo-box-option:active {
    background: #dedede !important;
    cursor: pointer;
}

.disabled-combo-box{
    background: #c4c4c4;
    user-select: none;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    color: white;
    box-shadow: 0px 1px 0px 0px #eeeeee;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px;
}