.combo-box {
    background: white;
    user-select: none;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    color: white;
    box-shadow: 0px 1px 0px 0px var(--gray);
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px;
    border-left: 1px solid var(--gray);
    border-right: 1px solid var(--gray);
    border-top: 1px solid var(--gray);

    position: relative;
    min-width: 240px;
    width: fit-content;
    user-select: none;
}

.combo-box-option {
    position: relative;
    box-sizing: border-box;
    font-family: "BarlowCondensed-Regular";
    font-size: 18px;
    color: var(--black);
    padding-left: 4px;
    user-select: none;
    border-right: 4px white solid;
    border-radius: 5px;
    z-index: 2;
}

.activated-combo-box-option {
    position: relative;
    box-sizing: border-box;
    font-family: "BarlowCondensed-Regular";
    font-size: 18px;
    color: var(--black);
    padding-left: 4px;
    user-select: none;
    border-right: 4px white solid;
    border-radius: 5px;
    background: #dedede !important;
    cursor: pointer;
    border-right: 3px var(--blue) solid;
    z-index: 2;
}

.dropdown-container {
    margin-top: 5px;
    position: absolute;
    border: 1px var(--grayish) solid;
    border-bottom: 3px var(--blue) solid;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px var(--grayish);
    display: none;
    user-select: none;
    padding: 5px;
    min-width: 240px;
    width: fit-content;
    background: white;
    z-index: 1;
}

.combo-box:hover,
.combo-box-option:hover {
    background: var(--grayish) !important;
    cursor: pointer;
    border-right: 3px var(--blue) solid;
}

.combo-box:active,
.combo-box-option:active {
    background: #dedede !important;
    cursor: pointer;
}

.disabled-combo-box {
    background: var(--gray);
    user-select: none;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    color: white;
    box-shadow: 0px 1px 0px 0px var(--grayish);
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px;
}

.dropdown-icon {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;

}

.combo-box-text {
    box-sizing: border-box;
    font-family: "BarlowCondensed-Regular";
    font-size: 1.1rem;
    color: var(--black);
    padding-left: 0.35rem;
    text-decoration: none !important;
    outline: 0px;
}