.Simple_Red_Button {
    box-sizing: border-box;
    width: fit-content;
    height: 25px;
    vertical-align: auto;
    text-align: center;
    border-radius: 5px;
    background: #fe3a3a;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    border: #ffffff;
    user-select: none;
    min-width: 80px;
}

.Simple_Red_Button:hover {
    cursor: pointer;
    opacity: 90%;
}

.Simple_Red_Button:active {
    background: #c4c4c4;
    cursor: pointer;
    opacity: 90%;
}
