@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rosario:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");

a {
    text-decoration: none;
    text-decoration-style: unset;
}

a:hover {
    text-decoration: none;
}

/*This port contain Management info and vertical menu below Management info*/
.Management_Info_Menu_Port {
    position: relative;
    width: 250px;
}

.Fake_Management_Info_Menu_Port {
    display: block;
    position: relative;
    width: 250px;
    height: 0px;
    background: transparent;
}

/* User Info Port: contain: avatar, display name, gmail and logout button */
.Management_Info_Port {
    display: flex;
    width: 100%;
    border-left: 1px;
    border-top: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-color: #c4c4c4;
    border-style: solid;
    height: fit-content;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
}

/*This port contain display and email*/
.Management_Info_Port .User_Name_Gmail_Port {
    margin-left: 10px;
    position: relative;
    width: fit-content;
}

.Management_Info_Port .Display_Name {
    position: relative;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    font-family: "Roboto Slab", serif;
    align-items: center;
    color: #5279db;
}

.Management_Info_Port .Gmail {
    width: 100px;
    position: relative;
    font-family: "Rosario", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    color: #363636;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: inline-block;
}

.Own_Role_Port {
    border-top: 0.35rem #5279db solid;
    width: 100%;
    border-bottom: 1px solid #c4c4c4;
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #5279db;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
}

.Achivement_Port {
    padding-top: 5px;
    justify-content: space-between;
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 150px;
    color: #363636;
    margin-left: 10px;
    height: 80px;
    border-bottom: 3px #c4c4c4 solid;
    border-top: 3px #c4c4c4 solid;
    padding-bottom: 5px;
}

.Small_User_Item_Element {
    width: 20px;
    height: 20px;
}

.Achivement_Post_Doc_Count_Port {
    display: flex;
    justify-content: space-between;
}

/*Management Vertical Menu Port: contain these menu options: Tên hiển thị, đối mật khấu, Bài đăng */
.Management_Vertical_Menu_Port {
    margin-top: 0px;
    padding: 10px;
    padding-top: 0px;
    position: relative;
    box-sizing: border-box;
    width: 250px;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;

    border-color: #c4c4c4;
    border-top: 2px #dddddd;
    border-style: solid;
    // border-top: none;
    height: 460px;
}

.Tab_Menu {
    width: 100%;
    border-right: 1px #c4c4c4 solid;
    border-left: 1px #c4c4c4 solid;
    display: flex;
}

.Tab_Menu_Item_Port_50_percents {
    width: 50%;
    text-align: center;
    padding: 5px;
    padding-bottom: 0px;
    user-select: none;
    height: fit-content;
}

.Tab_Menu_Item_Port {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    display: flex;
    margin: auto;
    padding: 4px;
    width: 100%;
    color: #363636;
}
.Activated_Tab_Menu_Item_Port {
    position: relative;
    display: flex;
    margin: auto;
    padding: 4px;
    width: 100%;
    background: #dddddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.Tab_Menu_Item_Port:hover {
    background: #eeeeee;
}

.Tab_Menu_Item {
    position: relative;
    display: flex;
    margin: auto;
    width: fit-content;
}

.Tab_Menu_Item_Text {
    margin: auto;
    width: fit-content;
    margin-left: 5px;
    line-height: 24px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}

.Vertical_Menu_Item {
    box-sizing: border-box;
    display: flex;
    font-family: "Barlow Condensed", "san-serif";
    font-weight: 500;
    color: #363636;
    user-select: none;
    text-decoration: none;
    box-shadow: 0px 1px 0px 0px #eeeeee;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 0.35rem;
    margin-bottom: 1px;
    border: none;
    border-radius: 0px;
}

.Vertical_Dropdown_Menu_Item_Container {
    display: none;
    user-select: none;
    margin-left: 10%;
    width: 90%;
}

.Vertical_Display_Block_Default_Dropdown_Menu_Item_Container {
    display: block;
    user-select: none;
    margin-left: 10%;
    width: 90%;
}

.Vertical_Menu_Item_Text {
    box-sizing: border-box;
    font-family: "Barlow Condensed", "san-serif";
    font-weight: 500;
    font-size: 1.1rem;
    color: #363636;
    padding-left: 0.35rem;
    text-decoration: none !important;
    outline: 0px;
}

.Dropdown_Btn_Element {
    width: 8px;
    height: 8px;
    vertical-align: auto;
    margin-top: 10px;
}

.Blue_Dropdown_Element {
    width: 8px;
    height: 8px;
    margin-top: 11px;
}

.Parent_Dropdown_Menu_Item {
    width: 100%;
    user-select: none;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    color: white;
    box-shadow: 0px 1px 0px 0px #eeeeee;
    margin-top: 0.35rem;
    margin-bottom: 1px;
    // background: green;
}

.Btn_Element {
    width: 8px;
    height: 8px;
    margin-top: 11px;
}

.Sub_Dropdown_Menu_Item {
    box-sizing: border-box;
    font-family: "Barlow Condensed", "san-serif";
    font-weight: 500;
    font-size: 1.02rem;
    color: #363636;
    padding-left: 10%;
    user-select: none;
    display: flex;
    text-decoration: none;
    // padding-top: 1px;

    padding-bottom: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: none;
    border-radius: 0px;
}

.Parent_Dropdown_Menu_Item:hover,
.Vertical_Menu_Item:hover,
.Sub_Dropdown_Menu_Item:hover {
    background: #eeeeee;
    cursor: pointer;
    border-right: 4px #5279db solid;
}

.Parent_Dropdown_Menu_Item:active,
.Vertical_Menu_Item:active,
.Sub_Dropdown_Menu_Item:active {
    background: #dedede;
    border: none;
    border-right: 4px #5279db solid;
    cursor: pointer;
    outline: 0px;
}

.Primary_Menu_Item_Element {
    margin-left: 0.35rem;
    margin-top: 0.35rem;
    width: 1.2rem;
    height: 1.2rem;
}

.Sub_Dropdown_Menu_Item_Text {
    font-size: 1.02rem;
}

.Main_Interactive_Menu_Item_Active {
    background: #e5eeee;
    cursor: pointer;
    border: none;
    border-radius: 0px;
    outline: 0px;
    box-sizing: border-box;
    text-decoration: none;
    border-right: 4px #5279db solid;
}

.Bounded_Class_Infor_And_Archivement_Port {
    overflow: hidden;
    transition: all 0.4s;
    // height: 185px;
}

.Avatar_Port {
    width: 80px;
    height: 80px;
}
