@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rosario:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@200&display=swap");

.DocPost_Summary_Item {
    position: relative;
    width: 100%;
    height: fit-content;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 5px;
    border-radius: 2px;
    background-repeat: no-repeat;
    border: 1px #c4c4c4 solid;
    max-width: 1000px;
    border-radius: 5px;
    border-top: 3px #eeeeee solid;
}

.DocPost_Summary_Item:hover {
    box-shadow: 0px 0px 5px 1px #c4c4c4;
    border: 1px white solid;
    border-top: 3px #5279db solid;
}

.DocPost_Summary_Item:active {
    box-shadow: 0px 0px 5px 1px #c4c4c4;
    border-top: 3px #5279db solid;
}

//general summary item headbar
.DocPost_Summary_Item_Header_1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    position: relative;
    height: fit-content;
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    color: #5279db;
    user-select: none;
}

//requested summary item header
.Requested_DocPost_Summary_Item_Header_2 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    position: relative;
    height: fit-content;
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    color: #363636;
    user-select: none;
}

//Doc summary item header (contain time, semester, subject)
.Doc_Category_Time_Semester_Subject_Header {
    height: 1.5rem;
    // margin-top: 5px;
    display: flex;
}

.Doc_Category_Time_Semester_Subject_Icon {
    margin-top: 0.6rem;
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 0.1rem;
}

.Doc_Category_Time_Semester_Subject_Text {
    line-height: 1.5rem;
    display: flex;
    justify-content: flex-start;
    height: fit-content;
    position: relative;
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #363636;
    user-select: none;
    margin-right: 0.6rem;
}
//General summary item header 1
.DocPost_Summary_Item_Author_Link:hover {
    opacity: 80%;
    cursor: pointer;
}

.DocPost_Summary_Item_Author_Link:active {
    opacity: 60%;
    cursor: pointer;
}

.DocPost_Summary_Item_Requested_Date {
    font-size: 16px;
}

//General summary item header 2
.Requested_DocPost_Summary_Item_Category {
    padding-left: 5px;
    color: #5279db;
}

.Requested_DocPost_Summary_Item_Category:hover {
    cursor: pointer;
    opacity: 80%;
}

.Requested_DocPost_Summary_Item_Category:active {
    opacity: 60%;
}

//Doc summary item category header

//Content
.DocPost_Summary_Item_Main_Port {
    padding: 10px;
    padding-top: 0px;
}

.DocPost_Summary_Title {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #202020;
}

.DocPost_Summary_Content {
    padding-left: 5px;
    font-family: Sarabun;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #363636;
}

.Doc_Summary_File_Name {
    width: fit-content;
    margin-left: 5px;
    display: flex;
    justify-content: flex-start;
    height: fit-content;
    position: relative;
    height: fit-content;
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    color: #5279db;
    user-select: none;
}

.Doc_Summary_File_Name:hover,
.Doc_Summary_File_Name:active {
    opacity: 80%;
    cursor: pointer;
}

.DocPost_Summary_Image_Port {
    display: flex;
    width: 100%;
    max-height: 200px;
}

.DocPost_Summary_Image {
    width: auto;
    max-height: 200px;
    margin: auto;
}

.DocPost_Summary_Tags_Port {
    margin-left: 5px;
    margin-top: 5px;
    display: flex;
}

.DocPost_Summary_Continue_Reading_Port {
    position: relative;
    height: 32px;
}

.DocPost_Summary_Continue_Reading {
    right: 7px;
    position: absolute;
}

.DocPost_Summary_Item_Footer {
    border-top: 1px #c4c4c4 solid;
    padding: 5px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

//no for approve
.Prefix_DocPost_Summary_Category {
    background: #5279db;
    width: 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-right: 5px;
}

.DocPost_Summary_Category {
    height: 1.5rem;
    line-height: 1.5rem;
    background: #5279db;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.DocPost_Summary_Time_Semester_Subject_Icon {
    margin-top: 0.6rem;
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 0.1rem;
}

.DocPost_Summary_Time_Semester_Subject_Text {
    line-height: 1.5rem;
    display: flex;
    justify-content: flex-start;
    height: fit-content;
    position: relative;
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #363636;
    user-select: none;
    margin-right: 0.6rem;
}

// Post Reactionbar
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");

.Post_Reaction_Bar {
    border-top: 1px #c4c4c4 solid;
   
    display: flex;
    margin: auto;
    width: 80%;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-bottom: 5px;
    height: fit-content;
}

//likeBtn
.Post_Reaction_Bar .Post_Reaction_Bar_Like_Btn_Port {
    display: flex;
}

.Post_Reaction_Bar .Post_Reaction_Bar_Like_Btn {
    width: 20px;
    height: 20px;
}

.Post_Reaction_Bar .Post_Reaction_Bar_Like_Btn:hover {
    cursor: pointer;
    opacity: 80%;
}

.Post_Reaction_Bar .Post_Reaction_Bar_Like_Btn_Port .Post_Reaction_Bar_Like_Count {
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #363636;
    margin-left: 5px;
}

//this port content saveBtn and comment Btn
.Post_Reaction_Bar .Post_Reaction_Bar_Save_Comment_Btn_Port {
    display: flex;
}

//saveBtn
.Post_Reaction_Bar_Save_Btn_Port {
    display: flex;
    user-select: none;
}

.Post_Reaction_Bar .Post_Reaction_Bar_Save_Btn {
    width: 20px;
    height: 20px;
}

.Post_Reaction_Bar .Post_Reaction_Bar_Save_Btn:hover {
    opacity: 80%;
    cursor: pointer;
}

.Post_Reaction_Bar .Post_Reaction_Bar_Save_Text {
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #363636;
}

//commentBtn
.Post_Reaction_Bar_Comment_Btn_Port {
    display: flex;
    padding-left: 15px;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #363636;
    width: fit-content;
    user-select: none;
}
.Post_Reaction_Bar_Comment_Btn_Port:hover {
    opacity: 80%;
    cursor: pointer;
}

.Post_Reaction_Bar_Comment_Count {
    display: flex;
    padding-left: 5px;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    color: #363636;
}
