@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rosario:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@200&display=swap");

.DocPost_Summary_Item {
    position: relative;
    width: 100%;
    height: fit-content;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 5px;
    border-radius: 2px;
    background-repeat: no-repeat;
    border: 1px #c4c4c4 solid;
    max-width: 1000px;
}

.DocPost_Summary_Item:hover {
    box-shadow: 0px 0px 5px 1px #c4c4c4;
    border: 1px white solid;
}

.DocPost_Summary_Item:active {
    box-shadow: 0px 0px 5px 1px #c4c4c4;
    border: 1px white solid;
}

//general summary item headbar
.DocPost_Summary_Item_Header_1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    position: relative;
    height: fit-content;
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    color: #5279db;
    user-select: none;
}

//requested summary item header
.Requested_DocPost_Summary_Item_Header_2 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    position: relative;
    height: fit-content;
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    color: #363636;
    user-select: none;
}

//Doc summary item header (contain time, semester, subject)
.Doc_Category_Time_Semester_Subject_Header {
    height: 1.5rem;
    // margin-top: 5px;
    display: flex;
}

.Doc_Category_Time_Semester_Subject_Icon {
    margin-top: 0.6rem;
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 0.1rem;
    
}

.Doc_Category_Time_Semester_Subject_Text {
    line-height: 1.5rem;
    display: flex;
    justify-content: flex-start;
    height: fit-content;
    position: relative;
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #363636;
    user-select: none;
    margin-right: 0.6rem;
}
//General summary item header 1
.DocPost_Summary_Item_Author_Link:hover {
    opacity: 80%;
    cursor: pointer;
}

.DocPost_Summary_Item_Author_Link:active {
    opacity: 60%;
    cursor: pointer;
}

.DocPost_Summary_Item_Requested_Date {
    font-size: 16px;
}

//General summary item header 2
.Requested_DocPost_Summary_Item_Category {
    padding-left: 5px;
    color: #5279db;
}

.Requested_DocPost_Summary_Item_Category:hover {
    cursor: pointer;
    opacity: 80%;
}

.Requested_DocPost_Summary_Item_Category:active {
    opacity: 60%;
}

//Doc summary item category header

//Content
.DocPost_Summary_Item_Main_Layout {
    padding: 10px;
    padding-top: 0px;
}

.DocPost_Summary_Title {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #202020;
}

.DocPost_Summary_Content {
    padding-left: 5px;
    font-family: Sarabun;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #363636;
}

.DocPost_Summary_Image_Layout {
    display: flex;
    width: 100%;
    max-height: 200px;
}

.DocPost_Summary_Image {
    width: auto;
    max-height: 200px;
    margin: auto;
}

.DocPost_Summary_Tags_Layout {
    margin-left: 5px;
    margin-top: 5px;
    display: flex;
}

.DocPost_Summary_Item_Footer {
    border-top: 1px #c4c4c4 solid;
    padding: 5px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
