@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.Simple_Gray_Label {
    width: 100%;
    height: fit-content;
    vertical-align: auto;
    text-align: left;
    // background: white;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 100%;
    color: #363636;
    user-select: none;
    min-width: 80px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 2px;
}

.Simple_Gray_Label_Fit_Content {
    width: fit-content;
    height: fit-content;
    vertical-align: auto;
    text-align: left;
    // background: white;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 100%;
    color: #363636;
    user-select: none;
    margin-bottom: 5px;
    margin-top: 2px;
}

.Simple_Blue_Label {
    width: 100%;
    height: fit-content;
    vertical-align: auto;
    text-align: left;
    // background: white;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 100%;
    color: #5279db;
    user-select: none;
    min-width: 80px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 2px;
}

.Simple_Error_Label {
    margin-top: 0.2rem;
    padding-left: 0.5rem;
    position: absolute;
    height: fit-content;
    vertical-align: auto;
    // background: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    text-align: right;
    line-height: 100%;
    color: #fe3a3a;
    // background: green;
    user-select: none;
    min-width: 80px;
    width: 100%;
}

.Is_Form_Label {
    margin-top: 1.0rem;
}
