.Simple_Gray_Label_18px {
    width: 100%;
    height: fit-content;
    vertical-align: auto;
    text-align: left;
    background: white;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #363636;
    user-select: none;
    min-width: 80px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 2px;
}

.Simple_Blue_Label_18px {
    width: 100%;
    height: fit-content;
    vertical-align: auto;
    text-align: left;
    background: white;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #5279db;
    user-select: none;
    min-width: 80px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 2px;
}
