

#footer .nav-link {
    padding-left: 15px;
    padding-right: 0px;
}


#heart-icon, #bookmark-icon {
    color: #5279db;
}

$unhover_color: rgba(0, 0, 0, 0.54);
$hover_color: rgba(0, 0, 0, 1);

#footer .info-save,
.info-likecount,
.info-commentcount {
    font-size: 14px;
    color: $unhover_color;
}

