#comment {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 25px;

}

#comment #avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 0;
}



#comment #username {
    text-align: center;
    margin: auto;
    padding-left: 10px;
    padding-right: 0px;
    float: left;
}

#comment #timestamp {
    text-align: center;
    margin: auto;
    padding-left: 25px;
    padding-right: 0px;
    float: left;
}

#comment #content {
    margin-top: 10px;
    color: black;
}

#comment #replyButton {
    transition: all 0.5s;
    padding-left: 0px;
    padding-right: 0px;
    color: rgba(0, 0, 0, 0.54);
}

#comment #replyButton:hover {
    //color: #5279DB;
    transition: all 0.5s;
}

#comment #replyButton:active {
    //color: #5279DB;
    transition: all 0.5s;
}

#comment .nav-link {
    text-align: center;
    margin: auto;
    padding: 0;
}

#comment .nav-item {
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
}