#info_title {
    height: 30px;
    flex-wrap: initial;
}


#head, #author, #caegory {
    height: 30px;
    position: relative;
}


#info_title col {
    width: 100%;
    max-width: 200px;
}

#footer .nav-link {
    padding-left: 15px;
    padding-right: 0px;
}


#heart-icon, #bookmark-icon {
    color: #5279db;
}
#heart-icon2 {
    
}
