@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rosario:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");

.Admin {
    position: absolute;
    width: 100%;
    height: fit-content;
    margin: 0px;
    padding: 0px;
}

/* Header Area */
.Admin_Header {
    top: 0px;
    left: 0px;
}

/* Body Port*/
.Admin_Main_Port {
    margin-top: 100px;
    position: relative;
    left: 6%;
    width: 88%;
    height: fit-content;
    background-repeat: no-repeat;
    // border: 1px #c4c4c4 solid;
    min-width: 1100px;
    display: flex;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 0px #c4c4c4;
}

.Admin_Center_Port {
    height: fit-content;
    width: 100%;
    margin-right: 10px;
}

.Admin_Show_Port {
    width: 100%;
    height: fit-content;
    border: #c4c4c4 solid 1px;
    border-top: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    min-height: 1000px;
}

.Show_Avatar {
    width: 80px;
    height: 80px;
    overflow: hidden;
    object-fit: cover;
}

.display_flex {
    display: flex;
}

.display_flex_end {
    display: flex;
    justify-content: end;
}

.margin_bottom_5px {
    margin-bottom: 5px;
}

.decoration_underline {
    height: 3px;
    width: 90%;
    background: #5279db;
    margin-left: 10%;
}

.gray_thin_decoration_underline {
    height: 1px;
    width: 100%;
    background: #eeeeee;
}

.justify_content_space_between {
    justify-content: space-between;
}

.padding_10px {
    padding: 10px;
}

.padding_right_10px {
    padding-right: 10px;
}

.margin_left_5px {
    margin-left: 5px;
}

.margin_right_5px {
    margin-left: 5px;
}

.width_50_percents {
    width: 50%;
}

.Number_Of_Item {
    margin-bottom: 10px;
    font-family: "Barlow Condensed";
    display: flex;
    font-size: 16;
    font-weight: 600;
    color: #363636;
}

.Admin_Router_Outlet {
    padding-right: 10px;
    width: 100%;
}


