.blank-layout-router-outlet {
    width: 880px;
    margin: auto;
}

.blank-layout {
    width: 100%;

}

.blank-layout-container {
    width: 100%;
    padding: 10px;
    border: 1px var(--gray) solid;
    border-top: none;
    box-shadow: 0px 5px 5px 0px #eeeeee;
    background: white;
    min-height: 150vh;
}