.normal-container {
  position: relative;
  width: 100%;
  height: fit-content;
  margin: 0px;
  padding: 0px;
}

.two-element-filter-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 15px;
  border-bottom: 2px var(--gray) solid;
}

