#author-info {
    margin-top: 20px;
    margin-bottom: 10px;
}


#author-info #avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 0;
}

#author-info p {
    text-align: center;
    margin: auto;
    padding-left: 10px;
    padding-right: 0px;
    float: left;
    color: rgba(0, 0, 0, 0.54);
}


#author-info .nav-link {
    text-align: center;
    margin: auto;
    padding: 0;
}

#author-info .nav-item {
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
}