@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap");

.Root_Post_Summary_Author_Link {
    position: relative;
    height: fit-content;
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #5279db;
    user-select: none;
}

.Root_Post_Summary_Author_Link:hover {
    cursor: pointer;
    opacity: 80%;
}

.Root_Post_Summary_Author_Link:active {
    cursor: pointer;
    opacity: 60%;
}
