#group-post hr {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    border: 3px solid #5279DB;
}

#group-post {
    margin-left: 120px;
    margin-right: 120px;

}

#group-post.col {
    
    margin-left: 10x;
    margin-right: 0px;
}
#toggle-button {
    background: #5279DB;
    color: white;
    max-width: 200px;
    max-height: 30px;
    padding: 0px 0px 0px 0px;
    text-align: center;
}

#card-header {
    border: 0px;
    background-color: white;
    padding-bottom: 0px;
    border: 0px solid;
}

@media (max-width: 767px) {
    #group-post {
        margin-left: 0;
        margin-right: 0px;
        
    }

    #group-post col {
        margin-left: 0px;
        margin-right: 0px;
    }
}