div hr {
  margin-top: 0px;
  margin-bottom: 0px;
  border: 2px solid #5279db;
  height: 0px;
}

.navbar .menu-item {
  transition: all 0.5s;
  font-size: 20px;
  font-weight: bolder;
  margin-left: 20px;
  padding: 0px;
  display: flex;
  align-items: center;
}

.navbar .menu-item:hover {
  transition: all 0.5s;
  transform: scale(1.1);
}

#login {
  margin-left: 50px;
}
#header {
  width: 100%;
  max-width: 1366;

  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

#search {
  padding-left: 30px;
  padding-right: 10px;
}

#header #write-icon, #header #upload-icon {
  color: #5279db;
  margin-left: 25px;
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  #search {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar .menu-item {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 10px;
    margin-left: 0px;
  }

  #login {
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 0px;
  }

  #header #write-icon, #header #upload-icon {
    color: #5279db;
    margin-left: 5px;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 1200px) {
  #search {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar .menu-item {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 20px;
  }

  #login {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  #header #write-icon, #header #upload-icon {
    color: #5279db;
    margin-left: 30px;
    display: flex;
    align-items: center;
  }
}
