.animation-area {
    width: 100%;
    max-height: 300px;
    //background: linear-gradient(to left, #514A9D, #5279DB);
    //background: url("../../img/board.png");
    //filter: brightness(90%);
}

.carousel {
    width: 100%;
    min-height: 200px;
    max-height: 400px;
}







.carousel #image {
    filter: brightness(70%);
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    object-fit: cover;
    background-repeat: no-repeat;
}

.carousel h3 p {
    color: white;
    text-align: center;
    font-weight: 500;
    opacity: 1;
}

.animation-area .box-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 80px;
    height: 425px;
    overflow: hidden;
}

.animation-area .box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.5);
    animation: animate 10s linear infinite;
    bottom: -150px;
    filter: brightness(100%);
}

.animation-area .box-area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.animation-area .box-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.animation-area .box-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 0s;
    animation-duration: 10s;
}

.animation-area .box-area li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.animation-area .box-area li:nth-child(5) {
    left: 25%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.animation-area .box-area li:nth-child(6) {
    left: 65%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-400px) rotate(360deg);
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .animation-area .box-area {
        max-height: 278px;
    }
    .carousel .slide {
        height: 325px;
    }
}

@media (max-width: 1024px) {
    .animation-area .box-area {
        max-height: 325px;
    }
}
