.container {
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;

    background-color: red($color: #000000);
}

#jumbo {
    margin-right: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
}

.jumbotron {
    margin-bottom: 0px;
    height: 306px;
}

#top-post {
    padding-left: 15px;
    padding-right: 0px;
}