@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rosario:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");

.Post_Summary {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-repeat: no-repeat;
    border: 1px #c4c4c4 solid;
}

/* Body Port*/
.Post_Summary .Post_Summary_Author_Requested_Date_Port {
    display: flex;
    background: #363636;
}

.Post_Summary .Author_Port {
    background: green;
}

.Post_Summary .Requested_Date_Port {
    align-self: flex-end;
}
