#group-post hr {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    border: 2px solid #5279db;
}

#group-post {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 10px;
}

#group-post.col {
    margin-left: 10x;
    margin-right: 0px;
}

#card-header {
    border: 0px;
    background-color: white;
    padding-bottom: 0px;
    min-width: 40px;
    border: 0px solid;
}

#toggle-button.card-header span {
    vertical-align: middle;
    font-style: bold italic;
}

@media (max-width: 750px) {
    #group-post {
        margin-left: 0px;
        margin-right: 0px;
    }

    #group-post col {
        margin-left: 0px;
        margin-right: 0px;
    }
}

// @media (max-width: 1024px) {
//     #group-post {
//         margin-left: 60;
//         margin-right: 60px;
//     }

//     #group-post col {
//         margin-left: 0px;
//         margin-right: 0px;
//     }
// }
