@media (min-width: 0px) {
    .Admin_Account_Information_Bounding_Port {
        width: 100%;
        margin: auto;
    }
}

@media (min-width: 800px) {
    .Admin_Account_Information_Bounding_Port {
        width: 400px;
        margin: auto;
    }
}

@media (min-width: 1200px) {
    .Admin_Account_Information_Bounding_Port {
        width: 50%;
        margin: inherit;
    }
}
