@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");

.Root_Post_Reaction_Bar {
    border-top: 1px #c4c4c4 solid;
    display: flex;
    margin: auto;
    width: 80%;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    height: fit-content;
    justify-content: space-between;
    padding-bottom: 5px;
}

//likeBtn
.Root_Post_Reaction_Bar .Root_Post_Reaction_Bar_Like_Btn_Port {
    display: flex;
}

.Root_Post_Reaction_Bar .Root_Post_Reaction_Bar_Like_Btn {
    width: 20px;
    height: 20px;
}

.Root_Post_Reaction_Bar .Root_Post_Reaction_Bar_Like_Btn_Port .Root_Post_Reaction_Bar_Like_Count {
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #363636;
    margin-left: 5px;
}

//this port content saveBtn and comment Btn
.Root_Post_Reaction_Bar .Root_Post_Reaction_Bar_Save_Comment_Btn_Port {
    display: flex;
}

//saveBtn
.Root_Post_Reaction_Bar_Save_Btn_Port {
    display: flex;
    user-select: none;
}

.Root_Post_Reaction_Bar .Root_Post_Reaction_Bar_Save_Btn {
    width: 20px;
    height: 20px;
}

.Root_Post_Reaction_Bar .Root_Post_Reaction_Bar_Save_Btn:hover {
    opacity: 80%;
    cursor: pointer;
}

.Root_Post_Reaction_Bar .Root_Post_Reaction_Bar_Save_Text {
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #363636;
}

//commentBtn
.Root_Post_Reaction_Bar_Comment_Btn_Port {
    display: flex;
    padding-left: 15px;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #363636;
    width: fit-content;
    user-select: none;
}
.Root_Post_Reaction_Bar_Comment_Btn_Port:hover {
    opacity: 80%;
    cursor: pointer;
}

.Root_Post_Reaction_Bar_Comment_Count {
    display: flex;
    padding-left: 5px;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    color: #363636;
}
