@font-face {
    font-family: "BarlowCondensed-Bold";
    src: local("BarlowCondensed"), url(./assets/fonts/BarlowCondensed-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "BarlowCondensed-SemiBold";
    src: local("BarlowCondensed"), url(./assets/fonts/BarlowCondensed-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "BarlowCondensed-Medium";
    src: local("BarlowCondensed"), url(./assets/fonts/BarlowCondensed-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "BarlowCondensed-Regular";
    src: local("BarlowCondensed"), url(./assets/fonts/BarlowCondensed-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "RobotoSlab-Regular";
    src: local("RobotoSlab"), url(./assets/fonts/RobotoSlab-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Rosario-Bold";
    src: local("Rosario"), url(./assets/fonts/Rosario-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto-Regular";
    src: local("Roboto"), url(./assets/fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto-Medium";
    src: local("Roboto"), url(./assets/fonts/Roboto-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Barlow-SemiBold";
    src: local("Barlow"), url(./assets/fonts/Barlow-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "BarlowSemiCondensed-BoldItalic";
    src: local("BarlowSemiCondensed"), url(./assets/fonts/BarlowSemiCondensed-BoldItalic.ttf) format("truetype");
}

@font-face {
    font-family: "BarlowSemiCondensed-Medium";
    src: local("BarlowSemiCondensed"), url(./assets/fonts/BarlowSemiCondensed-Medium.ttf);
}
@font-face {
    font-family: "Sarabun-Regular";
    src: local("Sarabun"), url(./assets/fonts/Sarabun-Regular.ttf) format("truetype");
}
.justify_content_space_between {
    display: flex;
    justify-content: space-between;
}
.display_flex {
    display: flex;
}
.text_align_right {
    text-align: right;
}

.width_100_percents {
    width: 100%;
}

.padding_10px {
    padding: 10px;
}

.padding_right_10px {
    padding-right: 10px;
}

.padding_right_5px {
    padding-right: 5px;
}

.padding_left_5px {
    padding-left: 5px;
}

.margin_auto {
    margin: auto;
}

.background_green {
    background: green;
}

.margin_left_5px {
    margin-left: 5px;
}

.margin_left_10px {
    width: 10px;
}

.margin_right_5px {
    margin-right: 5px;
}

.margin_right_10px {
    margin-right: 10px;
}

.margin_top_5px {
    margin-top: 5px;
}

.margin_top_10px {
    margin-top: 10px !important;
}

.margin_top_15px {
    margin-top: 15px !important;
}

.margin_bottom_20x {
    margin-bottom: 20px;
}

.width_50_percents {
    width: 50%;
}

.margin_top_2px {
    margin-top: 2px;
}

.margin_top_7px {
    margin-top: 7px;
}
.position_relative {
    position: relative;
}
.position_absolute {
    position: absolute;
}
.padding_3px {
    padding: 3px;
}

.display_none {
    display: none;
}

.min_width_fit_content {
    min-width: fit-content;
}

/* medium scroll bar */

.medium-scroll::-webkit-scrollbar-track {
    background: linear-gradient(
        to right,
        var(--scroll-track-color) 0%,
        var(--scroll-track-color) 45%,
        var(--scroll-color) 50%,
        var(--body-bg-color) 61%,
        var(--body-bg-color) 100%
    );
}

.medium-scroll::-webkit-scrollbar {
    width: 20px;
    transition: all 0.5s linear;
}

.medium-scroll::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    border-radius: 15px;
}

.medium-scroll:hover::-webkit-scrollbar-thumb {
    background-color: var(--scroll--hover-color);
    border-radius: 15px;
}

/**********************/
/* custom scroll code */
/**********************/

:root {
    --scroll-color: black;
    --scroll--hover-color: #666;
    --scroll-track-color: rgba(255, 255, 255, 0);
}

* {
    -webkit-overflow-scrolling: touch;
}

.scrollbar {
    height: 200px;
    overflow-y: scroll;
    background: #c3bebe;
    scrollbar-color: black #c3bebe;
    scrollbar-width: thin;
}
