@font-face {
    font-family: 'BarlowCondensed-Bold';
    src: local('BarlowCondensed'), url(./assets/fonts/BarlowCondensed-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'BarlowCondensed-SemiBold';
    src: local('BarlowCondensed'), url(./assets/fonts/BarlowCondensed-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'BarlowCondensed-Medium';
    src: local('BarlowCondensed'), url(./assets/fonts/BarlowCondensed-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'BarlowCondensed-Regular';
    src: local('BarlowCondensed'), url(./assets/fonts/BarlowCondensed-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'RobotoSlab-Regular';
    src: local('RobotoSlab'), url(./assets/fonts/RobotoSlab-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Rosario-Bold';
    src: local('Rosario'), url(./assets/fonts/Rosario-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: local('Roboto'), url(./assets/fonts/Roboto-Regular.ttf), format('truetype');
}

@font-face{
    font-family: 'Roboto-Medium';
    src: local('Roboto'), url(./assets/fonts/Roboto-Medium.ttf), format('truetype');
}

.Simple_White_Button {
    box-sizing: border-box;
    width: fit-content;
    height: 25px;
    vertical-align: auto;
    text-align: center;
    border-radius: 5px;
    background: white;
    font-family: "BarlowCondensed-Medium";
    font-size: 18px;
    line-height: 22px;
    padding-left: 10px;
    padding-right: 10px;
    color: #363636;
    border: #c4c4c4 1px solid;
    user-select: none;
    min-width: 80px;
}

.Simple_White_Button:hover {
    cursor: pointer;
    opacity: 80%;
}

.Simple_White_Button:active {
    background: #c4c4c4;
    cursor: pointer;
    opacity: 90%;
}

.Simple_White_Button:disabled {
    background: #c4c4c4;
    color: white;
    cursor: pointer;
    opacity: 90%;
}

.Simple_Red_Button {
    box-sizing: border-box;
    width: fit-content;
    height: 25px;
    vertical-align: auto;
    text-align: center;
    border-radius: 5px;
    background: #fe3a3a;
    font-family: "BarlowCondensed-Medium";
    font-size: 18px;
    line-height: 22px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    border: #ffffff;
    user-select: none;
    min-width: 80px;
}

.Simple_Red_Button:hover {
    cursor: pointer;
    opacity: 90%;
}

.Simple_Red_Button:active {
    background: #c4c4c4;
    cursor: pointer;
    opacity: 90%;
}

.Simple_Red_Button:disabled {
    background: #c4c4c4;
    cursor: pointer;
    opacity: 90%;
}

.Simple_Blue_Button {
    box-sizing: border-box;
    width: fit-content;
    height: 25px;
    vertical-align: auto;
    text-align: center;
    border-radius: 5px;
    background: #5279db;
    font-family: "BarlowCondensed-Medium";
    font-size: 18px;
    line-height: 22px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    border: #ffffff;
    user-select: none;
    min-width: 80px;
}

.Simple_Blue_Button:hover {
    cursor: pointer;
    opacity: 90%;
}

.Simple_Blue_Button:active {
    background: #c4c4c4;
    cursor: pointer;
}

.Simple_Blue_Button:disabled {
    background: #c4c4c4;
    cursor: pointer;
}

.Is_Form_Button {
    margin: auto;
    margin-top: 1.2rem;
}

.Simple_Gray_Label {
    width: 100%;
    height: fit-content;
    vertical-align: auto;
    text-align: left;
    font-family: 'BarlowCondensed-Medium';
    font-size: 1.1rem;
    line-height: 100%;
    color: #363636;
    user-select: none;
    min-width: 80px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 2px;
}

.Simple_Gray_Label_Fit_Content {
    width: fit-content;
    height: fit-content;
    vertical-align: auto;
    text-align: left;
    font-family: "BarlowCondensed-Medium";
    font-size: 1.1rem;
    line-height: 100%;
    color: #363636;
    user-select: none;
    margin-bottom: 5px;
    margin-top: 2px;
}

.Simple_Blue_Label {
    width: 100%;
    height: fit-content;
    vertical-align: auto;
    text-align: left;
    font-family: "BarlowCondensed-Medium";
    font-size: 1.1rem;
    line-height: 100%;
    color: #5279db;
    user-select: none;
    min-width: 80px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 2px;
}

.Simple_Error_Label {
    margin-top: 0.2rem;
    padding-left: 0.5rem;
    position: absolute;
    height: fit-content;
    vertical-align: auto;
    font-family: 'Roboto-Medium', sans-serif;
    font-size: 0.7rem;
    text-align: right;
    line-height: 100%;
    color: #fe3a3a;
    user-select: none;
    min-width: 80px;
    width: 100%;
}

.Is_Form_Label {
    margin-top: 1.0rem;
}

.Simple_Text_Input {
    padding-left: 10px;
    padding-top: 4px;
    width: fit-content;
    height: fit-content;
    vertical-align: auto;
    text-align: left;
    background: white;
    font-family: "BarlowCondensed-Medium";
    font-size: 1.1rem;
    line-height: 90%;
    color: #363636;
    border: #c4c4c4 1px solid;
    user-select: none;
    min-width: 80px;
    width: 100%;
    border-radius: 5px;
    outline: none;
}

.Simple_Text_Input:hover,
:focus {
    border: #5279db 1px solid;
    cursor: text;
    opacity: 90%;
    border-radius: 5px;
}

.Simple_Text_Input:disabled {
    background: #c4c4c4;
    color: #363636;
    cursor: text;
    opacity: 90%;
}


