.search-layout {
    width: 100%;
    max-width: 880px;
    border: var(--gray) 1px solid;
    border-top: 5px var(--blue) solid;
    margin-top: 10px;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 15px;
    margin: auto;
    min-height: 100vh;
}


.Horizontal_Menu_Bar {
    position: relative;
    display: flex;
    width: 100%;
    border: 1px var(--blue) solid;
    margin: auto;
    // border-radius: 5px;
}

.Horizontal_Menu_Item {
    padding-bottom: 3px;
    width: fit-content;
    padding-right: 10px;
    padding-left: 10px;
    font-family: "BarlowCondensed-SemiBold";
    font-size: 18px;
    display: flex;
    align-items: center;
    color: var(--black);
    user-select: none;
}

.Horizontal_Menu_Item:hover {
    color: var(--blue);
    background: var(--grayish);
    cursor: pointer;
    opacity: 80%;
}

.Activated_Horizontal_Menu_Item {
    cursor: pointer;
    background: var(--blue);
    color: white;
}

.Horizontal_Menu_Item:active {
    background: var(--gray);
    cursor: pointer;
}